body {
  padding: 0;
  margin: 0;
}

#top-bar {
  min-height: 3rem;
  width: 100%;
  position: fixed;
  padding: 0.3rem;
  background: #fcfcfe25;
  border-bottom: 1px solid #f8fcff80;
  backdrop-filter: blur(0.1rem);
  box-shadow: 0 1px 0 0 #00000025;
}
#home-button {
  background: none;
  border: none;
}
#home-button #home-chevron {
  --thikness: 0.2rem;
  --color: #80c0ff45;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: none;
  border-top: var(--thikness) solid var(--color);
  border-right: var(--thikness) solid var(--color);
  transform: rotate(45deg);
  transition: 0.2s ease-in-out;
}
#home-button #home-chevron:after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: none;
  border-bottom: var(--thikness) solid var(--color);
  transform: rotate(-45deg) translate(1.75rem, 0.25rem);
  transition: 0.2s ease-in-out;
}
#home-button:hover #home-chevron,
#home-button #home-chevron.home {
  transform: rotate(-45deg) scale(1.1);
}
#home-button:hover #home-chevron:after,
#home-button #home-chevron.home:after {
  transform: rotate(45deg) translate(0rem, 0rem);
}

.fake-text {
  font-family: "Georgia", serif;
  font-size: 1.7rem;
  line-height: 1.5;
  color: #d5b778;
  padding: 4rem;
  background: #804020;
  margin: 0 auto;
  max-width: 65ex;
  text-justify: distribute;
}
.fake-text h1 {
  background: #d4bdb2;
  color: #804020;
  margin: 0 -4rem;
  padding: 2rem 4rem;
}
