body {
  padding: 0;
  margin: 0;
}

.top-bar {
  height: 3rem;
  width: 100%;
  position: fixed;
  padding: 0.3rem;
  background: #fcfcfe25;
  border-bottom: 1px solid #f8fcff80;
  backdrop-filter: blur(0.1rem);
  box-shadow: 0 1px 0 0 #00000025;
}
.home-button {
  position: fixed;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 1px solid #f8fcff80;
  background: #c0c8cf;
  margin-top: -0.7rem;
}

.fake-text {
  font-family: "Georgia", serif;
  font-size: 1.7rem;
  line-height: 1.5;
  color: #d5b778;
  padding: 4rem;
  background: #804020;
  margin: 0 auto;
  max-width: 65ex;
  text-justify: distribute;
}
.fake-text h1 {
  background: #d4bdb2;
  color: #804020;
  margin: 0 -4rem;
  padding: 2rem 4rem;
}
