/* ------------------------------ Article ----------------------------------- */
#article {
  padding: 0;
  margin: 0;
}

#page-header {
  width: 100%;
  margin: 0;
  padding: 0;
}

#title-section {
  margin: 0;
  padding: 0;
}

#title-wrapper {
  display: block;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--title-padding-top) var(--padding-side)
    var(--title-padding-bottom) var(--padding-side);
  background-color: var(--color-accent);
}
#title {
  padding: 0;
  margin: 0 auto;
  font-family: "Linux Libertine", "Open Sans", "Segoe UI Light", sans-serif;
  font-weight: lighter;
  color: var(--color-light-text);
  width: 100%;
  text-align: center;
}

#article #byline {
  padding: var(--title-padding-bottom) 0;
  margin: 0;
  text-align: right;
  font-size: 1rem;
  color: var(--color-gray-text);
}
#article #author,
#article time {
  display: block;
  padding: 0 var(--padding-side);
  max-width: var(--max-width);
  margin: 0 auto;
}
#article time {
  color: var(--color-accent-secondary);
}
#article #byline a {
  color: var(--color-gray-text);
}
#article #byline #author:before {
  content: "by ";
}

#article-content {
  padding: 0 var(--padding-side);
  text-align: justify;
  hyphens: auto;
  max-width: var(--max-width);
  margin: 0 auto;
}

#bottom-line {
  margin: 0;
  padding: 2rem 0;
  text-align: center;
}

@media (min-width: 756px) {
  :root {
    --padding-side: 2rem;
  }
  #title-section {
    padding: 0 var(--padding-side);
  }
  #title-wrapper {
    align-content: end;
    padding: calc(
        var(--top-bar-gap) *
        2 +
        var(--home-link-size) +
        var(--title-padding-bottom)
      )
      var(--padding-side) var(--title-padding-bottom) var(--padding-side);
    border: 0.1rem solid var(--color-main-background);
    box-shadow: 0 0.2rem 0.2rem 0 var(--color-light-shadow);
  }
}
