body {
  background: #1e1f22;
  color: #b9b9aa;
  font-family: sans-serif;
  padding: 16px 24px;
}

a {
  color: #d9d9ca;
}
a:visited {
  color: #99998a;
}

.main-page-title {
  font-family: "Georgia", "Calibri", serif;
  font-size: 25vw;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
}
.main-page-title.text {
  color: #1e1f22;
  animation: main-page-title-appear 25s 1 normal ease-in-out;
}
.main-page-title.shadow {
  filter: blur(1px);
  background: linear-gradient(
    0deg,
    #ff0000 0%,
    #ff00bc 25%,
    #ff00bc 50%,
    #006dff 75%,
    #006dff00 95%
  );
  background-size: 100% 10%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation:
    main-page-title-appear 25s 1 normal ease-in-out,
    main-page-title-fire 30s infinite alternate ease-in-out;
}

@keyframes main-page-title-appear {
  0% {
    font-size: 22vw;
    filter: blur(4px);
  }
  100% {
    font-size: 25vw;
    filter: blur(0px);
  }
}

@keyframes main-page-title-fire {
  0% {
    background-size: 100% 500%;
    filter: blur(8px);
    opacity: 0.1;
  }
  100% {
    background-size: 100% 100%;
    filter: blur(1px);
    opacity: 1;
  }
}
