/* ------------------- font: Permian Slab Serif ------------------------------*/
@font-face {
  font-family: "Permian Slab Serif";
  /* noinspection CssUnknownTarget */
  src:
    local("Permian Slab Serif"),
    url("../../fonts/permian-slab-serif-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Permian Slab Serif";
  /* noinspection CssUnknownTarget */
  src:
    local("Permian Slab Serif Italic"),
    url("../../fonts/permian-slab-serif-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Permian Slab Serif";
  /* noinspection CssUnknownTarget */
  src:
    local("Permian Slab Serif Bold"),
    url("../../fonts/permian-slab-serif-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* ------------------- font: Linux Libertine ---------------------------------*/
@font-face {
  font-family: "Linux Libertine";
  /* noinspection CssUnknownTarget */
  src:
    local("Linux Libertine O"),
    local("Linux Libertine"),
    url("../../fonts/linux-libertine-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Linux Libertine";
  /* noinspection CssUnknownTarget */
  src:
    local("Linux Libertine Italic O"),
    local("Linux Libertine Italic"),
    url("../../fonts/linux-libertine-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Linux Libertine";
  /* noinspection CssUnknownTarget */
  src:
    local("Linux Libertine Bold O"),
    local("Linux Libertine Bold"),
    url("../../fonts/linux-libertine-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Linux Libertine";
  /* noinspection CssUnknownTarget */
  src:
    local("Linux Libertine Bold O"),
    local("Linux Libertine Bold"),
    url("../../fonts/linux-libertine-bold-italic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Linux Libertine Mono";
  /* noinspection CssUnknownTarget */
  src:
    local("Linux Libertine Mono O"),
    local("Linux Libertine Mono"),
    url("../../fonts/linux-libertine-mono.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --padding-side: 0.8rem;
  --home-link-size: 3rem;
  --color-main-background: #ffffff;
  --color-main-text: #333333;
  --color-accent: #4488ff;
  --color-accent-secondary: #ff4488;
  --color-gray-text: #999999;
  --color-light-text: #ffffff;
  --color-light-shadow: #00000040;
  --transition-time: 0.2s;
  --top-bar-gap: 0.8rem;
  --title-padding-top: 0;
  --title-padding-bottom: 1.6rem;
  --max-width: 50rem;
}

body {
  background-color: var(--color-main-background);
  font-size: 1rem;
  color: var(--color-main-text);
  font-family: "Permian Slab Serif", "Georgia", serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 550px) {
  body {
    font-size: 1.25rem;
  }
}

/* ------------------------- Top Bar Menu ----------------------------------- */

#top-bar {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: var(--color-accent);
  list-style: none;
  z-index: 1000;
}
#top-bar li {
  padding: var(--padding-side);
}

#home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  background-color: var(--color-accent-secondary);
  border: 0.1rem solid var(--color-light-text);
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 0.4rem var(--color-light-shadow);
  transition: var(--transition-time) ease;
}
#home-link #home-link-chevron {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.15rem solid var(--color-light-text);
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
#home-link #home-link-chevron:after {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.15rem none var(--color-light-text);
  border-bottom-style: solid;
  transform: rotate(-45deg);
  translate: -0.1rem -0.3rem;
}
/* This media is for the mouse-interactive elements */
@media (pointer: fine) {
  #home-link.home,
  #home-link:hover {
    translate: -0.05rem -0.05rem;
    box-shadow: 0.05rem 0.05rem 0.4rem var(--color-light-shadow);
  }
  #home-link {
    box-shadow: none;
    border-radius: 0;
  }
  #home-link #home-link-chevron {
    transition: var(--transition-time) ease;
    transform: rotate(135deg);
    translate: -0.8rem 0;
    scale: 0.7;
  }
  #home-link.home #home-link-chevron,
  #home-link:hover #home-link-chevron {
    transform: rotate(45deg);
    translate: 0 0;
    scale: 1;
  }
  #home-link #home-link-chevron:after {
    transform: rotate(-135deg);
    translate: -0.9rem -1.9rem;
    transition: var(--transition-time) ease;
  }
  #home-link.home #home-link-chevron:after,
  #home-link:hover #home-link-chevron:after {
    transform: rotate(-45deg);
    translate: -0.1rem -0.3rem;
  }
}

@media (min-width: 756px) {
  #top-bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    margin: 0;
    background-color: rgba(from var(--color-accent) r g b / 0.1);
    backdrop-filter: blur(0.15rem);
    border: 0.1rem solid #ffffffc0;
    border-top: none;
    box-shadow: 0 0 0.4rem 0.2rem var(--color-light-shadow);
    border-radius: 0.4rem;
  }
  #top-bar li {
    padding: var(--top-bar-gap);
  }
}
/* ------------------------------- Bottom Line -------------------------------*/
#bottom-line {
  margin: 0;
  padding: 2rem 0;
  text-align: center;
}

/* ---------------------------------- Footer -------------------------------- */
footer {
  background-color: #222222;
  color: #bbbbbb;
  font-family: "Calibri", sans-serif;
  font-size: 1rem;
  min-height: 13rem;
  margin: auto 0 0 0;
  padding: 0;
}
footer #copyright {
  display: block;
  padding: var(--padding-side);
  margin: 0;
}
