/* ------------------------- Home Page Header ------------------------------- */
#home-page-header {
  display: block;
  padding: 0;
  margin: 0;
}
#home-page-header #title-section {
  margin: 0;
  padding: 0;
}
#title-wrapper {
  display: block;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--title-padding-top) var(--padding-side)
    var(--title-padding-bottom) var(--padding-side);
  background-color: var(--color-accent);
}
#home-page-header h1 {
  display: block;
  text-align: center;
  padding: var(--title-padding-top) var(--padding-side)
    var(--title-padding-bottom) var(--padding-side);
  margin: 0 auto;
  font-family: "Linux Libertine", "Open Sans", "Segoe UI Light", sans-serif;
  font-weight: lighter;
  color: var(--color-light-text);
  font-size: 2.5rem;
}
#home-page-header #header-space {
  min-height: 3rem;
}

/* ------------------------- Card Article Large ----------------------------- */
.card-article-large {
  display: block;
  padding: 0;
  margin: 1rem 0;
}

.card-article-large a {
  text-decoration: none;
}

.card-article-large .illustration {
  display: block;
  min-height: 42.85vw;
  height: auto;
}
.card-article-large .illustration img {
  display: block;
  width: 100%;
}

.card-article-large header h1 {
  display: block;
  padding: 0 var(--padding-side);
  margin: 0.75rem 0;
  font-family: "Linux Libertine", "Open Sans", "Segoe UI Light", sans-serif;
  font-weight: lighter;
  color: var(--color-accent);
  text-align: left;
}

.card-article-large .description {
  display: block;
  padding: 0;
  margin: 0;
}

.card-article-large .description time {
  display: block;
  padding: 0 var(--padding-side);
  color: var(--color-accent-secondary);
}
.card-article-large .description .article-summary {
  display: block;
  padding: 0 var(--padding-side);
  margin: 0;
}

/* ------------------------- Card Article Medium ---------------------------- */
.card-article-medium {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 1rem 0;
}

.card-article-medium a {
  text-decoration: none;
}

.card-article-medium .illustration {
  display: block;
  width: 40vw;
  min-height: 17.14vw;
  height: auto;
}
.card-article-medium .illustration img {
  display: block;
  width: 100%;
}

/* ---------------------- Desktop View -------------------------------------- */
@media (min-width: 756px) {
  :root {
    --padding-side: 2rem;
  }
  #home-page-header #title-section {
    padding: 0 var(--padding-side);
  }
  #title-wrapper {
    align-content: end;
    padding: calc(
        var(--top-bar-gap) *
        2 +
        var(--home-link-size) +
        var(--title-padding-bottom)
      )
      var(--padding-side) var(--title-padding-bottom) var(--padding-side);
    border: 0.1rem solid var(--color-main-background);
    box-shadow: 0 0.2rem 0.2rem 0 var(--color-light-shadow);
  }

  .card-article-large {
    max-width: var(--max-width);
    min-height: calc(var(--max-width) * 0.4285);
    margin: 1rem auto;
  }
  .card-article-large header {
    padding: 0 var(--padding-side);
  }
  .card-article-large .illustration {
    min-height: calc(var(--max-width) * 0.4285);
  }
  .card-article-large header h1 {
    padding: 0;
  }
}
